.footer{
   border-top: 2px solid rgb(210, 210, 210);
    height: 250px;
    background-color: rgb(243, 243, 243);
    padding: 20px;
    display: flex;
}
.contenedorImgLogo{
    align-self: center;
}
.containerImg{
    margin-left: 30%;
    align-self: center;
}
.redesSociales{
    display: inline;
}
.contacto{
    text-align: center;
    
}
.redesSociales{
    height: 40px;
    margin: 10px;
}
